@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "ThirstyScript";
  src: url("../font/ThirstyScriptExtraBoldDemo.otf");
}

@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url("../font/YanoneKaffeesatz-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: #faf6f2;
  min-width: 400px;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #ede5e552;
  background-color: green;
}

.col-full {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 1200px;
}

/*Logo*/
.logo_text {
  color: #e6e6e6;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.logo_text img {
  height: auto;
  width: calc(150px + 4vw);
}

/*Menú principal*/
.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100vw;
  background: #414141;
  top: -250px;
  transition: all 0.4s;
  z-index: 3;
}

.menu_item {
  padding: 15px 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.95em;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 6px;
}

.menu_link {
  color: #e6e6e6;
  font-weight: bold;
}
.menu_link::after {
  content: " ";
  display: block;
  height: 2px;
  width: 42px;
  margin: 0 auto;
  margin-top: 6px;
  background-color: #ffae00;
  visibility: hidden;
}
.menu_link:hover::after {
  visibility: visible;
}

.menu_link:hover {
  margin-top: -6px;
  color: #ccc8c8;
}

/*Telefono de domicilios*/
.phone {
  text-align: right;
  display: none;
}
.phone_order {
  color: #ffae00;
}
.phone_number {
  display: block;
  color: #e6e6e6;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1em;
}

/*Seccion de login*/
.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100vw;
  background: #414141;
  top: -250px;
  transition: all 0.4s;
  z-index: 2;
}

.login_link {
  color: #e6e6e6;
  padding: 0.6em 1.5em;
  border: 1px solid white;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  font-weight: bold;
}

.login_link--button {
  padding: 10px 20px;
  background-color: red;
  border-radius: 16px;
  
}

.btn_menu,
.btn_login,
.btn_pizza {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.menu--show {
  top: 120px !important;
}
.pizza_list--show {
  top: 120px !important;
}
.login--show {
  top: 120px !important;
}

/*--------------------*/
.pizza-fast {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #c00a27;
}

.pizza_list {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100vw;
  gap: 4px;
  height: auto;
  background: #414141;
  top: -100%;
  transition: all 0.4s;
  z-index: 1;
}

.pizza_item {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  padding: 0 15px;
  color: #e6e6e6;
  opacity: 0.8;
  padding: 5px;
}

.pizza_item i {
  font-size: 2em;
}

.pizza_item:hover {
  opacity: initial;
}

.pizza_link {
  color: #e6e6e6;
  text-align: center;
}

@media screen and (min-width: 440px) {
  .btn_pizza {
    display: none !important;
  }

  .pizza_list {
    all: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    font-family: "Open Sans", sans-serif;
    background-color: #c00a27;
  }
}

@media screen and (min-width: 680px) {
  .phone {
    display: block;
  }
  .navbar {
    padding-top: 1.2em;
  }
}

@media screen and (min-width: 1000px) {
  .menu {
    all: initial;
    display: flex;
  }
  .login {
    display: inline-block;
    position: relative;
    top: inherit;
    left: inherit;
    width: auto;
    height: auto;
    background: none;
  }

  .btn_menu,
  .btn_login {
    display: none !important;
  }

  .pizza_list {
    justify-content: space-evenly;
  }
}
._link--button{
    background: #c00a27;
    transition: .4s;
}
._link--button:hover{
    background: none;
}
._link--button1{
    
    transition: .4s;
}
._link--button1:hover{
    background: #c00a27;
}   
a{
    text-decoration: none !important;
    color: white !important;
}
main {
    width: 100vw;
    height: 800px
}

.container,
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.container {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -80%)
}

.socialMedia-container,
.phone-container {
    display: none
}

.wrapper {
    position: relative;
    height: 70%;
}

input[type = "radio"] {
    margin: 10px
}

fieldset {
    border: rgb(192,192,192,0.1) 1px solid;
    height: 500px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12)
}

.signUp-container fieldset,
.phone-container fieldset {
    height: 450px
}

.shown-container {
    display: block
}

.hidden-container {
    display: none
}

input[type = "text"],
input[type = "password"],
input[type = "tel"],
input[type = "email"],
input[type = "url"] {
    width: 340px;
    margin-top: 8px;
    padding: 2px 6px;
    border: none;
    background-color: #f7f7f7;
    height: 40px;
    outline-color: #2196f3;
    font-size: 1rem
}

input[type = "submit"], button {
    float: right;
    margin: 20px 42px 0px 0px;
    padding: 10px 20px;
    border: 1px solid #2196f3
}

button {
    background-color: white;
    color: #2196f3
}

input[type = "submit"] {
    float: right;
    background-color: #2196f3;
    color: white
}

.clear {
    clear: both
}

a {
    float: right;
    margin: 10px 44px 0px 0px;
    text-decoration: none;
    color: #2196f3;
    font-size: 0.8rem
}

a:hover {
    text-decoration: underline
}

input[type = "submit"]:hover, button:hover {
    background-color: #2196f3;
    color: white;
    cursor: pointer
}

button {
    margin-right: 5px
}

.container div {
    margin: 20px 40px;
    position: relative
}

.mail-container img,
.phone-container img {
    width: 100px;
    height: 100px;
  margin: auto;
  display: block
}

.mail-container div:first-of-type,
.phone-container div:first-of-type {   
    width: 340px;
    margin: 40px 40px;
}

label {
    position: absolute;
    top: 56%;
    left: 6px;
    color: #505050
}

.focused-field {
    animation-name: gainFocus;
    animation-fill-mode: forwards;
    animation-duration: 0.15s;
    animation-timing-function: ease-out
}

@keyframes gainFocus {
    0% {
        top: 56%;
        left: 6px;
        color: #505050;
        font-size: 1rem
    }
    100% {
        top: 0%;
        left: 0px;
        color: #2196f3;
        font-size: 0.9rem
    }
}

.unfocused-field {
    animation-name: loseFocus;
    animation-fill-mode: forwards;
    animation-duration: 0.15s;
    animation-timing-function: ease-out
}

@keyframes loseFocus {
    0% {
        top: 0%;
        left: 0px;
        color: #2196f3;
        font-size: 0.9rem
    }
    100% {
        top: 56%;
        left: 6px;
        color: #505050;
        font-size: 1rem
    }
}

.initial-focused-field {
    top: 0%;
    left: 0px;
    color: #2196f3;
    font-size: 0.9rem
}

.initial-unfocused-field {
    top: 56%;
    left: 6px;
    color: #505050;
    font-size: 1rem
}

.socialMedia-container button {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 10px 40px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12);
    font-size: 1rem;
    color: #2196f3
}

.socialMedia-container button:hover {
    background-color: #f7f7f7;
    box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.15)
}
